body{
    background: linear-gradient(to bottom right,white,black);
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
}
.con{
    width: 50%;
    margin: 130px auto 20px;
    padding: 150px auto 20px;
    height: 70%;
    /* background-color:pink; */
    border-radius: 30px;

}
.todocontainer{
    display: flex;
    background-color: rgb(64, 152, 170);
    /* border-radius: 30px; */

}
.todocontainer h2{
    margin: 20px 10px 20px 20px;
    align-items: center;
}
.additem{
    height: 12%;
    display: flex;
}
input{
    width:80%;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    border:none;
    border-radius: 30px;
    background-color:rgb(70, 70, 69);
    font-size: 20px;
    caret-color: rgb(246, 246, 246);
    padding-left: 13px;
}
.additem button{
    border: none;
    width:20%;
    border-radius: 30px;
    cursor: hand;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.showitem{
    /* background-color:green; */
    /* border-radius: 20px; */
    justify-content: space-between;
    font-size: 20px;
    padding: auto;
    margin: 10px 10px 10px 20px;
    height: 70%;
    overflow-y: auto;
}
.listitem{
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
    align-items: last baseline;
    justify-content: space-between;
    font-size: 20px;
    padding: auto;
    /* margin: 10px 10px 10px 20px; */
    /* height: 70%; */
    overflow-y: auto;
}

.btn {
    /* margin-left: auto; */
    margin-right: 5px;
    font-size: 19px;
    background-color: rgb(224, 117, 117);
    align-items: last baseline;
    border-radius: 20px;
    cursor: hand;
}
.edit{
    margin-left: auto;
    background-color:rgb(76, 76, 212);
    align-items: last baseline;
    font-size: 19px;
    border-radius: 20px;
    cursor: hand;
}


